<!DOCTYPE html>
<html>
<head>
  <script src="js/face-api.min.js"></script>
  <script src="js/my-face.js"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    canvas {
      position: absolute;
    }
    #video{
        border: 1px thick #cccccc;
    }
  </style>

</head>
<body>
  <video id="video" width="620" height="460" autoplay muted></video>

  </body>

</body>
</html>